<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chats</title>
</head>
<body>
    <h3>New Chats</h3>
    <form method="POST" action="/chats">
        <input placeholder="Who are you?" name="from"/><br>
        <textarea placeholder="Message" name="message"></textarea><br>
        <input placeholder="Receiver" name="to"/><br>
        <button>Create Chat</button><br>
    </form>
</body>
</html>
