<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chats</title>
</head>
<body>
    <h3>new chats</h3>
    <form method="post"action="/chats">
        <input placeholder="who r u"name="form"/><br>
        <textarea name="msg">write....</textarea><br>
    <input placeholder="reciver"name="to"/><br>
    <button>create chats</button><br>
    </form>
</body>
</html>